
/* 전체 페이지 */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightcyan;
}

/* 메인 컨테이너 */
main {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 2px 2px lightgray;
  padding: 1.5rem;
  text-align: center;
  min-width: 25vw;
  width: fit-content;
}

/* 타이틀 */
header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

/* 입력 영역 */
.input-section {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1rem;
  align-items: stretch;
}

/* 텍스트 입력 필드 */
input {
  flex: 8;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 6px;
}

input::placeholder {
  font-style: italic;
  color: lightgray;
}

/* 할 일 목록 컨테이너 */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  text-align: left;
}

/* 섹션 제목 */
h2 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

/* 리스트 기본 설정 */
ul {
  list-style: none;
  padding: 0;
}

/* 할 일 아이템 */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  margin-bottom: 1vh;
  border: 1px solid lightgray;
  border-radius: 6px;
}

/* 추가 버튼 */
.add-button {
  flex: 2;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 6px;
  background: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

/* 완료 버튼 */
button.complete {
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  background: green;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* 삭제 버튼 */
button.delete {
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  background: red;
  color: white;
  font-size: 1rem;
  cursor: pointer;

}
