@import "tailwindcss/preflight";
@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
    font-size: 62.5%;
  }

  @media (max-width: 1799px) {
    html {
      font-size: 50%;
    }
  }
  @media (max-width: 1199px) {
    html {
      font-size: 45%;
    }
  }
  @media (max-width: 991px) {
    html {
      font-size: 40%;
    }
  }
  @media (max-width: 767px) {
    html {
      font-size: 30%;
    }
  }
  @media (max-width: 424px) {
    html {
      font-size: 25%;
    }
  }
  @media (max-width: 374px) {
    html {
      font-size: 20%;
    }
  }

  body {
    @apply touch-manipulation;
  }
}

@layer utilities {
  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
}
